body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Arial, sans-serif;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    color: #333;
}

p {
    color: #555;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
    border: none;
    background: #4facfe;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}input, textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    height: 80px;
    resize: none;
}

h2 {
    margin-top: 20px;
    color: #333;
}

#result {
    margin-top: 10px;
    color: green;
    font-weight: bold;
}
